:root {
	--bg-color: #092e37;
	--hl-color: #e8f1f3;
	--ac-color: #659fad;
	--fg-color: #ffffff;
	--serif-font: "Gentium Plus", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
	--sans-font: "Leelawadee UI", "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
}

body {
	margin: 0;
	background-color: var(--bg-color);
	background-image: url("bg.png");
	background-size: 191px 137px;
	background-repeat: repeat;
	font-family: var(--sans-font);
	color: var(--fg-color);
	text-align: center;
	font-size: 28px;
	line-height: 45px; 
}

.header {
	display: inline-block;
	width: 100%;
	background-color: var(--fg-color);
	color: var(--ac-color);
	text-transform: uppercase;
	letter-spacing: 11px;
	font-family: var(--sans-font);
	font-weight: bold;
	line-height: 72px;
}
.nav {
	display: flex;
	float: right;
}
.navbutton {
	display: inline-block;
	padding: 0 30px;
	float: left;
}
.navbutton:hover {
	background-color: var(--hl-color);
	color: var(--ac-color);
}

.content {
	display: inline-block;
	max-width: 1200px;
	height: calc(100vh - 72px);
	margin: auto;
	background-color: var(--bg-color);
}
.mainpage-logo {
	display: flex;
	justify-content: center;
	align-items: center;
	float: left;
	width: 40%;
	height: 100%;
}
.mainpage-text {
	display: flex;
	justify-content: center;
	align-items: center;
	float: right;
	width: 60%;
	height: 100%;
}


@media only screen and (min-width: 1151px) {
	.logo {
		display: inherit;
	}
	.section {
		display: inherit;
	}
	.menu {
		display: none;
	}
}
@media only screen and (max-width: 1150px) {
	.logo {
		display: none;
	}
	.section {
		display: inherit;
	}
	.menu {
		display: none;
	}
}
@media only screen and (max-width: 900px) {
	.logo {
		display: inherit;
	}
	.section {
		display: none;
	}
	.menu {
		display: inherit;
	}
}