:root {
	--main-bg-color: #092e37;
	--main-txt-color: #ffffff;
	--opposite-bg-color: #ffffff;
	--opposite-txt-color: #659fad;
	--highlight-bg-color: #e8f1f3;
	--serif-font: "Constantia", "Gentium Plus", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
	--sans-font: "Leelawadee UI", "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
}

body {
	margin: 0;
	background-color: var(--main-bg-color);
	background-image: url("bg.png");
	background-size: 191px 137px;
	background-repeat: repeat;
	font-family: var(--sans-font);
	color: var(--main-txt-color);
	text-align: center;
	font-size: 20px;
}
h1 { font-size: 56px; }
h2 { font-size: 34px; }
h3 { font-size: 28px; }
.content {
	display: inline-block;
	min-height: calc(100vh - 72px);
	padding: 0px 20px;
	margin: auto;
	background-color: var(--main-bg-color);
}
@media only screen and (min-width: 1160px) { .content { width: 1120px; } }
@media only screen and (max-width: 1160px) { .content { width: calc(100% - 40px); } }
a {
	color: var(--highlight-txt-color);
	text-decoration-line: none;
}

/* Courses and lessons */
.card {
	display: inline-block;
	width: 280px;
	height: 280px;
	margin: 20px;
	border-top: 5px solid var(--opposite-bg-color);
	border-left: 5px solid var(--opposite-bg-color);
	border-bottom: 20px solid var(--opposite-bg-color);
	border-right: 30px solid var(--opposite-bg-color);
	border-top-right-radius: 20px;
	border-bottom-right-radius: 20px;
	vertical-align: top;
}

/* Header stuff */
.header {
	display: inline-block;
	width: 100%;
	background-color: var(--opposite-bg-color);
	color: var(--opposite-txt-color);
	text-transform: lowercase;
	/*letter-spacing: 11px;*/
	font-family: var(--sans-font);
	font-weight: bold;
	line-height: 72px;
	font-size: 28px;
}
.nav {
	display: flex;
	float: right;
}
.navbutton {
	display: inline-block;
	padding: 0 30px;
	float: left;
}
.navbutton:hover {
	background-color: var(--highlight-bg-color);
}
.dropdown {
	display: block;
	background-color: var(--main-txt-color);
	visibility: hidden;
	position: absolute;
	top: 72px;
	right: 0;
}
.has-dropdown:hover + .dropdown, .dropdown:hover { visibility: visible; }
.dropdown > .navbutton {
	width: 100%;
	padding: 0;
	line-height: 64px;
}
/* Different widths stuff */
@media only screen and (min-width: 850px) {
	.logo { display: inherit; }
	.section { display: inherit; }
	.menu { display: none; }
}
@media only screen and (max-width: 850px) and (min-width: 600px) {
	.logo { display: none; }
	.section { display: inherit; }
	.menu { display: none; }
}
@media only screen and (max-width: 600px) {
	.logo { display: inherit; }
	.section { display: none; }
	.menu { display: inherit; }
}
/* Front page positioning */
@media only screen and (min-width: 900px) {
	.mainpage-logo {
		display: flex;
		justify-content: center;
		align-items: center;
		float: left;
		width: 40%;
		min-height: calc(100vh - 72px);
	}
	.mainpage-text {
		display: flex;
		justify-content: center;
		align-items: center;
		float: right;
		width: 60%;
		min-height: calc(100vh - 72px);
	}
}
@media only screen and (max-width: 901px) {
	.mainpage-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mainpage-text {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}