
/* Variables */

:root {
	--serif-font: "Sitka Subheading", "Constantia", "Gentium Plus", "Palatino Linotype", "Book Antiqua", "Times New Roman", serif;
	--sans-font: "Leelawadee UI", "Proxima Nova", "Helvetica Neue", Arial, sans-serif;
}
body:not(.dark-mode) {
	--main-bg-color: #092e37;
	--main-txt-color: #ffffff;
	--opposite-bg-color: #ffffff;
	--opposite-txt-color: #659fad;
	--highlight-bg-color: #dcecf0;
	--main-card-color: #0c5364;
	--highlight-card-color: #186d82;
}
body.dark-mode {
	--main-bg-color: #09080e;
	--main-txt-color: #cccccc;
	--opposite-bg-color: #dddddd;
	--opposite-txt-color: #050833;
	--highlight-bg-color: #f5f5f5;
	--main-card-color: #242537;
	--highlight-card-color: #303255;
}

/* Generic animation */

* {
	transition-property: background-color, color, box-shadow;
	transition-duration: 0.2s;
	transition-timing-function: ease-out;
}
.notransition {
	-webkit-transition: none !important;
	-moz-transition: none !important;
	-o-transition: none !important;
	transition: none !important;
}

/* Site-wide style */

body {
	margin: 0;
	text-align: center;
	background-color: var(--main-bg-color);
	background-image: url("bg.png");
	background-size: 191px 137px;
	background-repeat: repeat;
	color: var(--main-txt-color);
	font-family: var(--sans-font);
	font-size: 15px;
}
h1 { font-size: 42px; }
h2 { font-size: 25px; }
h3 { font-size: 21px; }
.content {
	display: inline-block;
	min-height: calc(100vh - 54px);
	margin: auto;
	padding: 0px 15px;
	background-color: var(--main-bg-color);
	box-shadow: 0px 0 10px 0px #000000ff;
}
body.dark-mode .content { box-shadow: 5px 0 10px 0px #000000ff, -5px 0 10px 0px #000000ff; }
@media only screen and (min-width: 879px) { 
	.content { 
		width: 840px; 
		border-width: 0 2px;
		border-style: solid;
		border-color: var(--opposite-bg-color);
	}
}
@media only screen and (max-width: 878px) { .content { width: calc(100% - 30px); } }
a {
	color: var(--highlight-txt-color);
	text-decoration-line: none;
}

/* Header stuff */

.header {
	display: inline-block;
	position: relative;
	width: 100%;
	background-color: var(--opposite-bg-color);
	color: var(--opposite-txt-color);
	font-family: var(--sans-font);
	font-size: 21px;
	line-height: 54px;
	font-weight: bold;
	text-transform: titlecase;
	box-shadow: 0px 0 10px 0px #000000ff;
}
.nav {
	display: flex;
	float: right;
}
.navbutton {
	display: inline-block;
	float: left;
	padding: 0 23px;
}
.navbutton:hover { background-color: var(--highlight-bg-color); }
.dropdown {
	display: block;
	position: absolute;
	top: 54px;
	right: 0;
	width: 300px;
	max-height: 0;
	background-color: var(--main-txt-color);
	transition: all 0.3s ease-in-out;
	overflow: hidden;
}
.has-dropdown:hover + .dropdown, .dropdown:hover { max-height: 1000px; }
.dropdown > .navbutton, .dropdown > a > .navbutton {
	width: 100%;
	padding: 0;
	line-height: 48px;
}
@media only screen and (min-width: 651px) {
	.logo { display: inherit; }
	.section { display: inherit; }
	.menu { display: none; }
}
@media only screen and (max-width: 650px) and (min-width: 451px) {
	.logo { display: none; }
	.section { display: inherit; }
	.menu { display: none; }
}
@media only screen and (max-width: 450px) {
	.logo { display: inherit; }
	.section { display: none; }
	.menu { display: inherit; }
	.dropdown { width: 100vw; }
}

/* Front page */

@media only screen and (min-width: 675px) {
	.mainpage-logo {
		display: flex;
		float: left;
		width: 40%;
		min-height: calc(100vh - 54px);
		justify-content: center;
		align-items: center;
	}
	.mainpage-text {
		display: flex;
		float: right;
		width: 60%;
		min-height: calc(100vh - 54px);
		justify-content: center;
		align-items: center;
	}
}
@media only screen and (max-width: 676px) {
	.mainpage-logo {
		display: flex;
		justify-content: center;
		align-items: center;
	}
	.mainpage-text {
		display: flex;
		justify-content: center;
		align-items: center;
	}
}

/* Courses, lessons, links building block */

.card {
	display: inline-block;
	width: 180px;
	height: 180px;
	margin: 15px;
	padding: 15px;
	vertical-align: top;
	background-color: var(--main-card-color);
	border: 2px solid var(--opposite-bg-color);
	/*border-top-right-radius: 30px;
	border-bottom-right-radius: 30px;*/
	box-shadow: 0px 0 3px 0px #000000ff;
}
.card:hover { background-color: var(--highlight-card-color); }

/* Dictionary */

summary { list-style: none; }
summary::-webkit-details-marker { display: none; }
.word {
	text-align: left;
	/*border-radius: 20px;*/
}
.word > summary { padding: 10px; }
.word:hover { background-color: var(--main-card-color); }
.word-name {
	display: inline-block;
	vertical-align: top;
	font-size: 25px;
	font-weight: bold;
}
.word-description {
	display: inline-block;
	vertical-align: top;
	padding-top: 10px;
}
.word-extra {
	max-height: 0;
	margin-left: 10px;
	padding: 10px;
	background-color: var(--main-card-color);
	/*border-radius: 20px;*/
    transition: max-height 0.2s ease-in-out;
    overflow: hidden;
}
details[open] > .word-extra { max-height: 1000px; }

/* Links */

.toc-dict-wrapper {
	width: 340px;
	margin: auto;
}
@media only screen and (max-width: 385px) { .toc-dict-wrapper { width: calc(100% - 30px); } }
.toc-links-wrapper {
	width: calc(100% - 30px);
	margin: auto;
}
.toc-link {
	display: inline-block;
	min-width: 25px;
	margin: 4px 1.5px;
	padding: 5px 7.5px;
	background-color: var(--main-card-color);
	font-size: 25px;
	font-weight: bold;
	/*border-radius: 10px;*/
}
.toc-link:hover { background-color: var(--highlight-card-color); }
/*.link-title {
	display: inline-block;
	padding: 10px 20px;
	background-color: var(--main-card-color);
}
.link-title:hover { background-color: var(--highlight-card-color); }*/
.back-button-wrapper {
	display: inline-block;
	width: 100%;
	margin-bottom: 15px;
}
.back-button {
	float: right;
	padding: 0px 20px;
	background-color: var(--main-card-color);
}
.back-button:hover { background-color: var(--highlight-card-color); }